{% extends 'activities/Admin Home.html' %} <!-- header and footer of page linked from admin home html file -->
{% load static %}
{% block dashboard %}
<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:7%; margin-top:83px;">
    <div class="container-grid">
    <div class="container">
    <div class="row"> 
        <div class="col">
            <h3 style="text-align:left;">Validate Barangay Health Workers</h3>
        </div>
        <div class="col">
            <form class="form-inline">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
        <hr>
        <br>
    </div>
    </div>
        <!-- MAIN CARDS STARTS HERE -->
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <div class="card text-dark bg-light mb-4">
                    <div class="card-header" style="background-color:rgba(0, 255, 85, 0.205)"><i class="fas fa-check" style="color: green; position:relative; margin-right:10px;"></i>Total No. of Validated BHW</div>
                    <div class="card-body">
                        <h5 class="card-title">200</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card text-dark bg-light mb-4">
                    <div class="card-header" style="background-color:rgba(0, 255, 85, 0.205)"><i class="fas fa-spinner" style="color:orange; position:relative; margin-right:10px;"></i>Total No. of Non-Validated BHW</div>
                    <div class="card-body">
                        <h5 class="card-title">200</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card text-dark bg-light mb-4">
                    <div class="card-header" style="background-color:rgba(0, 255, 85, 0.205)"><i class="fas fa-user"></i>Total No. of Parents</div>
                    <div class="card-body">
                        <h5 class="card-title">200</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card text-dark bg-light mb-4">
                    <div class="card-header" style="background-color:rgba(0, 255, 85, 0.205)"><i class="fas fa-user-circle"></i>Total Number of Preschoolers</div>
                    <div class="card-body">
                        <h5 class="card-title">200</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button class="btn float-end" type="button" id= "parentHomeButton"><i class="fa fa-fw fa-user-shield"></i>Validate Account</button>
            </div>
            <div class="col">
                <button class="btn" type="button" id= "parentHomeButton"><i class="fa fa-fw fa-user-slash"></i>Delete Profile</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
