{% extends 'activities/Admin Home.html' %} <!-- header and footer of page linked from admin home html file -->
{% load static %}
{% block dashboard %}

<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="hidetitle" class="brand__name" style="color:rgb(3, 3, 3); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <div id="navLinks">
                    <ul class="nav text-small">
                        <li>
                            <a href="{% url 'admin_home' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                            title="Admin Home">
                            <i class="fa fa-fw fa-home" style="font-size: 24px;"></i>   
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_barangay' %}" class="nav-link" style="color:rgb(27, 177, 92) !important;" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="List of Barangay">
                            <i class="fa fa-3x fa-fw fas fa-landmark " style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_home2' %}" class="nav-link"  data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"                            title="Preschooler Status">
                            <i class="fa fa-fw fa-id-card " style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li>
                            {% if invalidated_count > 0 %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link" style="color:rgb(27, 177, 92) !important;" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="User accounts" >
                                <i class="fa fa-fw fa-users" style="font-size: 24px;"></i>
                                <span class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger">
                                    {{ invalidated_count }}
                                    <span class="visually-hidden">unread messages</span>
                                </span></a>
                            {% else %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link" style="color:rgb(27, 177, 92) !important;" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="User accounts" >
                                <i class="fa fa-fw fa-users" style="font-size: 24px;"></i>  
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <a class="btn nav-link" id="dropdownUser1" data-bs-toggle="dropdown" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Settings" aria-expanded="false">
                            
                                <i class="fa fa-fw fa-user-cog bi dropdown-toggle" style="font-size: 24px;"></i>   
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-2" style="margin-right:3%;" aria-labelledby="dropdownUser1">
                               
                                <div>
                                    <i class="fa fa-lg fa-fw fa-user bi" style="margin-left:5px;"></i>  
                                    <span style="font-size: 15px;"> {{ user.first_name }} {{ user.last_name }} </span>
                                </div>
                                <div>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" style="background-color: rgba(255, 255, 255, 0); padding: 2px !important; margin-left:7px;" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt mx-1"></i>Sign out</a></li>
                                </div>
                               
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>

<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip({'delay': { show: 400, hide: 100 }})})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
 </script>

<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:3%; margin: top 65px;">
    <div class="container-grid">
        <div class="">
            <div class="row"> 
                <div class="col">
                    <h3 style="text-align:left;">List of barangay</h3>
                </div>
            </div>
        <hr>
        <br>
        </div>
    </div>
     <!--------------------- DataTables --------------------->
     <div class="text-black pt-3">
        <div class="row">
            <div class="col">
                <div class="card-header">
                    <h3>Barangays</h3>

                </div>
                <div class="card shadow-lg p-3 bg-white rounded" >
                    <div class="table-responsive" >
                        <table class="table table-hover table-cell-border" id="table_parents" >
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">No.</th>
                                    <th scope="col" class="text-center">Barangay Name</th>
                                    <th scope="col" class="text-center">Phone Number</th>
                                    <th scope="col" class="text-center">Barangay Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script src="{% static '/Javascript/js/functions.js' %}"></script>
<script src="{% static '/Javascript/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script>
    var t = $('#bhw_list').DataTable({
        info: 'true',
        dom: 'rftip',
        pageLength : 5,
        aoColumnDefs: [{
            'bSortable': false,
            'aTargets': ['nosort'],
            'orderable': false,
            'targets': [],
        }],
        order: [[1, 'asc']],
        });
        t.on('order.dt search.dt', function () {
        let i = 1;
        t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
            this.data(i++);
        });}).draw();
</script>

<script>
    var t = $('#parent_list').DataTable({
        info: 'true',
        dom: 'rftip',
        pageLength : 5,
        aoColumnDefs: [{
            'bSortable': false,
            'aTargets': ['nosort'],
            'orderable': false,
            'targets': [0, 5],
        }],
        order: [[1, 'asc']],
        });
        t.on('order.dt search.dt', function () {
        let i = 1;
        t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
            this.data(i++);
        });}).draw();
</script>
{% endblock %}