{% extends 'activities/Admin Home.html' %} <!-- header and footer of page linked from admin home html file -->
{% load static %}
{% block dashboard %}

<title>Preschooler Status | PPMS </title>
</head>
<body>

<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div id="mobileNav" class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img id="adminIcon" class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="adminHidetitle" class="brand__name" style="color:rgb(0, 0, 0); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <label class="burger "for="toggle"><i  id="hamburger" class="fa fa-fw fa-bars" style="font-size: 24px;"></i></label>
                <input type="checkbox" id="toggle">
                <div class="menu" id="navLinks">
                    <ul id="nav" class="nav text-small">
                        <li>
                            <a href="{% url 'admin_home' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"  
                            title="Admin Home">
                            <i id="navIcon" class="fa fa-fw fa-home" style="font-size: 24px;"></i>   
                            <span id="navText" style="font-size: 20px;">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_home2' %}" style="color:rgb(27, 177, 92) !important;"class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Preschooler Status">
                            <i id="navIcon" class="fa fa-3x fa-fw fa-id-card " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px; color:rgb(27, 177, 92) !important;" >Preschooler Status</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_barangay' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="List of Barangay">
                            <i id="navIcon" class="fa fa-3x fa-fw fas fa-landmark " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px;" >List of Barangay</span>
                            </a>
                        </li>
                        <li>
                            {% if invalidated_count > 0 %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link"  data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="BHW Validation" >
                                <i id="navIcon" class="fa fa-fw fa-user-md" style="font-size: 24px;"></i>
                                <span id="navText" style="font-size: 20px; " >BHW Validation</span>
                                <span class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger">
                                    {{ invalidated_count }}
                                    <span class="visually-hidden">BHW Validation</span>
                                </span></a>
                            {% else %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link"  data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="BHW Validation" >
                                <i id="navIcon" class="fa fa-fw fa-user-md" style="font-size: 24px;"></i>  
                                <span id="navText"style="font-size: 20px; " >BHW Validation</span>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'admin_userAccounts' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Accounts">
                            <i id="navIcon" class="fa fa-3x fa-fw fas fa-users " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px; " >User Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a id="navIcon" class="btn nav-link position-relative" id="dropdownUser1" data-bs-toggle="dropdown" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Settings" aria-expanded="false">
                                <i class="fa fa-fw fa-user-cog bi" style="font-size: 24px;"></i>
                                <span class="position-absolute top-100 start-75 translate-middle badge rounded-pill text-dark" style="border-radius: 50%;">
                                    <i class="fa fa-lg fa-fw fa-caret-down bg-light" style="border-radius: 25%; margin-bottom: 15px;"></i>
                                </span></a>
                            </a>
                            <a id="navText" style="color:white; text-decoration: none;font-size: 20px;"href="{% url 'logout' %}" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Log Out Account">Sign Out</a>
                            <ul class="dropdown-menu dropdown-menu-end p-2" style="margin-right:3%;" aria-labelledby="dropdownUser1">
                                <div class="card p-3 d-flex align-items-center justify-content-center">
                                    <div class="row d-block">
                                        <div class="d-flex justify-content-center my-2">
                                            <i class="fa fa-lg fa-fw fa-user bi" style="margin-left:5px ;"></i>  
                                        </div>
                                         <div class="d-flex justify-content-center text-center p-2">  
                                            <span style="font-size: 15px;"> {{ user.first_name }} {{ user.last_name }} </span>
                                         </div>
                                    </div>
                                </div>
                                <div>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" style="background-color: rgba(255, 255, 255, 0); padding: 2px !important; margin-left:7px;"href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt"></i>Sign out</a></li>
                                </div>  
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>

<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip()})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
 </script>

<!-- Dashboard -->
<div id="grid" class="container-fluid">
    <div class="container">
        <div class="container">
            <div class="row"> 
                <div class="col-sm-6 mb-3 d-flex justify-content-sm-start justify-content-center">
                    <h3> Preschooler Status Overview</h3>
                </div>
                <div class="col-sm-6  mb-3 d-flex justify-content-sm-end justify-content-center">
                    <div class="text-right" style="width: 10rem;">
                        <div class="dropdown text-center" >
                            <h6 class="text-uppercase text-dark dropdown-header"><i class="fa fa-3x fa-fw fas fa-landmark " style="font-size: 15px; margin-right: 5px;"></i>Barangay</h6>
                            <select class="form-select " aria-label="Default select example" onchange="javascript:handleNextView(this)">
                                <option value="{% url 'admin_home2' %}">All</option>
                                {% for barangay in barangays %}
                                <option value="{% url 'apreschoolersb' barangay.id %}">{{ barangay.brgy_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                </div>
                <hr>
            </div>
        </div>
        <div class="row d-flex align-items-stretch">
                <div class="col-lg mb-2">
                <div class="card shadow-sm bg-white rounded h-100">
                        <!-- <div class="card-header" style="background-color: rgb(0, 165, 79) !important;"> -->
                        <div class="card-header">
                            <h5 class="card-title">Severely Wasted</h5>
                        </div>
                        <div class="card-body text-center">
                            <p style="font-size: xx-large;" class="card-text">{{ severly }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg mb-2">
                    <div class="card shadow-sm bg-white rounded h-100">
                        <!-- <div class="card-header" style="background-color: rgb(233, 221, 0) !important;"> -->
                        <div class="card-header">
                            <h5 class="card-title">Moderately Wasted</h5>
                        </div>
                        <div class="card-body text-center">
                            <p style="font-size: xx-large;" class="card-text">{{ wasted }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg mb-2">
                    <div class="card shadow-sm bg-white rounded h-100 ">
                        <!-- <div class="card-header " style="background-color: rgb(238, 29, 35) !important;"> -->
                        <div class="card-header">
                            <h5 class="card-title">Normal</h5>
                        </div>
                        <div class="card-body text-center">
                            <p style="font-size: xx-large;" class="card-text">{{ normal }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg mb-2">
                    <div class="card shadow-sm bg-white rounded h-100 ">
                        <!-- <div class="card-header" style="background-color: rgb(242, 98, 33)!important;"> -->
                            <div class="card-header">
                            <h5 class="card-title">Overweight</h5>
                        </div>
                        <div class="card-body text-center">
                            <p style="font-size: xx-large;" class="card-text">{{ overweight }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg mb-2">
                    <div class="card shadow-sm bg-white rounded h-100">
                        <!-- <div class="card-header" style="background-color: rgb(233, 221, 0) !important;"> -->
                        <div class="card-header">
                            <h5 class="card-title">Obese</h5>
                        </div>
                        <div class="card-body text-center">
                            <p style="font-size: xx-large;" class="card-text">{{ obese }}</p>
                        </div>
                    </div>
                </div>
        </div>
            <br>
            <div>
                <div class="card-header">
                    <h5>Record</h5>
                </div>
                <div class="card shadow-sm bg-white rounded">

                    <div class="card-body p-4">
                        <canvas id="myBar" width="100%" height="50"></canvas>
                    </div>
                    <!-- <div class="card-footer small text-muted">
                        Updated yesterday at 11:59 PM
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function handleNextView(el){ 
        window.location.assign( el.value ); /* redirect on select */
    } 
</script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';
    
    

    // Pie Chart Example
    var data_count = JSON.parse('{{ count_data|escapejs }}')
    var ctx = document.getElementById("myBar");
    var myBar = new Chart(ctx, {
    type: 'bar',
    options: {
        legend: {
            
            display: false
        },
        scales:{
            yAxes:[{
                ticks: {
                    beginAtZero: true,
                }
            }]
        }
    },
    data:{
        labels: ["Severely Wasted", "Moderately Wasted", "Normal","Overweight","Obese"],
        datasets: [{
                label: 'Preschoolers',
                data: data_count,
                backgroundColor: [
                'rgb(238, 29, 35)',
                'rgb(255, 241, 2)',
                'rgb(0, 165, 79)',
                'rgb(242, 98, 33)',
                'rgb(242, 98, 33)',
                ],
                borderColor: [
                'rgb(238, 29, 35)',
                'rgb(255, 241, 2)',
                'rgb(0, 165, 79)',
                'rgb(242, 98, 33)',
                'rgb(242, 98, 33)',
                ],
                borderWidth: 1
            }
            ]},
    Option: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
             }   
            },
        },
    });

</script>
{% endblock %}
