{% extends 'activities/BHW Home.html' %} <!-- header and footer of page linked from bhw home html file -->
{% load static %}
{% block dashboard %}
<div id="grid" class="container-fluid" style="padding:7%; margin-top:50px;">
    <div class="container-grid">
        <div class="row"> 
            <div class="col">
                <h3 style="text-align:left;">Preschoolers' Profile</h3>
            </div>
        </div>
    <hr>
</div>
    
<!-- DataTables -->
<div class="container text-black">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-sm" id="table_preschoolers">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Child Name</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Date Measured</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Height</th>
                            <th scope="col">Age in Months</th>
                            <th scope="col">WFA Status</th>
                            <th scope="col">HFA Status</th>
                            <th scope="col">WHFA Status</th>
                            <th scope="col" class="nosort text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011-04-25</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td style="text-align: center;">
                                <div class="row">
                                    <div class="col">
                                        <a href=""><button type="button" style="background-color: #188045; color: white;" class="btn">View Profile</button></a>
                                    </div>
                                    <div class="col">
                                        <a href=""><button type="button" style="background-color: #188045; color: white;" class="btn">Delete</button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011-07-25</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td style="text-align: center;">
                                <div class="row">
                                    <div class="col">
                                        <a href=""><button type="button" style="background-color: #188045; color: white;" class="btn">View Profile</button></a>
                                    </div>
                                    <div class="col">
                                        <a href=""><button type="button" style="background-color: #188045; color: white;" class="btn">Delete</button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
    <script src="{% static '/Javascript/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        
    <script>
        var t = $('#table_preschoolers').DataTable({
            dom: 'Blfrtip',
            info: 'true',
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort'],
                'orderable': false,
                'targets': [0, 4],
            }],
            order: [[1, 'asc']],
            });
            t.on('order.dt search.dt', function () {
            let i = 1;
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });}).draw();
    </script>
</div>
{% endblock %}