{% extends 'activities/BHW Home.html' %} <!-- header and footer of page linked from bhw home html file -->
{% load static %} 
{% block dashboard %}
<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="hidetitle" class="brand__name" style="color:rgb(3, 3, 3); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <div id="navLinks">
                    <ul class="nav text-small">
                        <li>
                            <a href="{% url 'preschooler_dashboard' %}"  style="border-radius: 13%;"class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                            title="Go back to Preschooler Dashboard">
                            <i class="fa fa-lg fa-fw fa-chevron-circle-left" style="font-size: 24px;"></i>    
                            <span style="color:rgb(3, 3, 3);">Back</span>   
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>
<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip({'delay': { show: 400, hide: 100 }})})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
</script>

<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:3%; margin: top 65px;">
    <div class="container-grid">
        <div class="">
            <div class="row"> 
                <div class="col">
                    <h3 style="text-align:left;">Preschoolers Immunization</h3>
                </div>
            </div>
        <hr>
        <br>
        </div>
    </div>
    <!--------------------- DataTables --------------------->
    <div class="text-black">
        <div class="row">
            <div class="col">
                <div class="card-header">
                    <h3> Immunization Schedule</h3>
                </div>
                <div class="card shadow-lg p-3 bg-white rounded" >
                    <div class="table-responsive">
                        <table class="table table-hover table-cell-border" id="table_validation">
                            <div class="" style="text-align: right !important; ">
                                <button style="background-color: #188045; color: white;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#update"><span class="fas fa-calendar-edit"></span> Immunization Update</button>
                            </div>
                            <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h5 class="modal-title fas fa-calendar-edit" id="exampleModalLabel"> Immunization Update</h5>
                                            
                                        </div>
                                        <div class="modal-body mx-4">
                                            <form method="POST">
                                                {% csrf_token %}
                                            <!-- <form method="POST" onsubmit="get_cred($('#type').val());"> -->
                                                <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Vaccine: </label>
                                                    <select class="form-select" name="vax_name" aria-label="Default select example">
                                                        <option value="BCG">BCG</option>
                                                        <option value="Hepatitis B">Hepatitis B</option>
                                                        <option value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option>
                                                        <option value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                        <option value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                        <option value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                        <option value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                        <option value="Vax8">Vax8</option>
                                                    </select>
                                                </div>
                                                <!-- <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Doses:</label>
                                                    <input class="form-control" type="number" name="dose" id="dose">
                                                </div> -->
                                                <!-- <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Required Doses:</label>
                                                </div> -->
                                                <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Immunization Date:</label>
                                                    <input class="form-control" type="date" name="immune_date" id="immune_date">
                                                </div>
                                                <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Remarks:</label>
                                                    <textarea class="form-control" name="remarks" id="remarks" cols="30" rows="10"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn " style="background-color: #188045; color: white;">Add</button>
                                                    <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">No.</th>
                                    <th scope="col" class="text-center">Vaccine</th>
                                    <th scope="col" class="text-center">Doses</th>
                                    <th scope="col" class="text-center">Required Doses</th>
                                    <th scope="col" class="text-center">Immunization Date</th>
                                    <th scope="col" class="text-center">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vaccine in vaccines %}
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">{{ vaccine.vax_name }}</td>
                                    <td class="text-center">{{ vaccine.vax_dose }}</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">{{ vaccine.vax_date }}</td>
                                    <td class="text-center">{{ vaccine.vax_remarks }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
