{% extends 'activities/BHW Home.html' %} <!-- header and footer of page linked from bhw home html file -->
{% load static %} 
{% block dashboard %}
<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="hidetitle" class="brand__name" style="color:rgb(3, 3, 3); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <div id="navLinks">
                    <ul class="nav text-small">
                        <li>
                            <a href="{% url 'bhw_home' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                            title="Barangay Health Worker Home">
                            <i class="fa fa-fw fa-home" style="font-size: 24px;"></i>   
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'preschooler_dashboard' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Preschooler Profile">
                            <i class="fa fa-fw fa-id-card " style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'immunization_schedule' %}" class="nav-link" style="color:rgb(27, 177, 92) !important;" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Immunization Schedule" >
                            <i class="fa fa-fw fa-calendar-alt" style="font-size: 24px;"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn nav-link" id="dropdownUser1" data-bs-toggle="dropdown" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Settings" aria-expanded="false">
                                <i class="fa fa-fw fa-user-cog bi" style="font-size: 24px;"></i>
                                <span class="position-absolute top-100 start-75 translate-middle badge rounded-pill text-dark" style="border-radius: 50%;">
                                    <i class="fa fa-lg fa-fw fa-caret-down bg-light" style="border-radius: 25%; margin-bottom: 15px;"></i>
                                </span></a>
                                
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="dropdownUser1">
                                <div id="dropdown-menu">
                                    <div>
                                        <i class="fa fa-lg fa-fw fa-user bi mx-auto"></i>   
                                        <span style="font-size: 15px;">{{ user.first_name }} {{ user.last_name }}</span>
                                    </div>
                                    <div>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt mx-1"></i>Sign out</a></li>
                                    </div>
                                </div>
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>
<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip({'delay': { show: 400, hide: 100 }})})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
</script>

<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:3%; margin: top 65px;">
    <div class="container-grid">
        <div class="">
            <div class="row"> 
                <div class="col">
                    <h3 style="text-align:left;">Immunization</h3>
                </div>
            </div>
        <hr>
        <br>
        </div>
    </div>
    <!--------------------- DataTables --------------------->
    <div class="text-black">
        <div class="row">
            <div class="col">
                <div class="card-header">
                    <h3> Preschoolers</h3>

                </div>
                <div class="card shadow-lg p-3 bg-white rounded" >
                    <div class="table-responsive">
                        <table class="table table-hover table-cell-border" id="table_validation">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">No.</th>
                                    <th scope="col" class="text-center">First Name</th>
                                    <th scope="col" class="text-center">Middle Name</th>
                                    <th scope="col" class="text-center">Last Name</th>
                                    <th scope="col" class="text-center">Suffix</th>
                                    <th scope="col" class="text-center">Age in months</th>
                                    <th scope="col" class="text-center">Barangay Designation</th>
                                    <th scope="col" class="nosort text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td style="text-align: center;">
                                        
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
            
        <script>
            var t = $('#table_validation').DataTable({
                info: 'true',
                aoColumnDefs: [{
                    'bSortable': false,
                    'aTargets': ['nosort'],
                    'orderable': false,
                    'targets': [0,7],
                }],
                order: [[1, 'asc']],
                });
                t.on('order.dt search.dt', function () {
                let i = 1;
                t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });}).draw();
        </script>

</div>
{% endblock %}
