{% extends 'activities/BHW Home.html' %} <!-- header and footer of page linked from bhw home html file -->
{% load static %} 
{% block dashboard %}

<title>Immunization Status | PPMS</title>
</head>
<body>

<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="hidetitle" class="brand__name" style="color:rgb(3, 3, 3); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <div id="navLinks">
                    <ul class="nav text-small">
                        <li>
                            {% if loggedin == 'BHW' %}
                                <a href="{% url 'preschooler_profile' preschooler.id %}"  style="border-radius: 13%;background-color: white;"class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                                title="Go back to Preschooler Profile">
                                <button class="back-button bg-white">
                                    <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text d-flex align-items-center justify-content-center">Back</span>
                                </button>  
                                </a>
                            {% else %}
                                <a href="{% url 'parent_preschooler' preschooler.id %}"  style="border-radius: 13%;background-color: white;"class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                                title="Go back to Preschooler Profile">
                                <button class="back-button bg-white">
                                    <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text d-flex align-items-center justify-content-center">Back</span>
                                </button>  
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>
<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip()})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
</script>

<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:3%; margin: top 65px;">
    <div class="container-grid p-4">
        <div class="">
            <div class="row"> 
                <!-- <div class="col-xl-8 col-md-6 col-12 mb-3 text-md-start text-center">
                    <h3>Preschooler's Profile</h3>
                </div>
                <div class="col-xl-4  col-md-6 col-12">
                    <div class="row d-flex justify-content-center align-items-stretch">
                        <div class="mb-3 d-flex justify-content-md-end justify-content-center h-100">
                            <button style="background-color: #188045; color: white; max-height: 70px !important; height: 100%;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#update"><span class="fa fa-user-edit"></span> Update preschooler</button>
                            <button style="background-color: #188045; color: white; max-height: 70px !important; height: 100%; margin-left: 10px;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#history"><span class="fas fa-history"></span> Nutritional Status History</button>
                            <a href="{% url 'immunization_schedule' preschooler.id %}"><button style="background-color: #188045; color: white; margin-left:10px; max-height: 70px !important;" type="button" class="btn"><span class="fa fa-address-card"></span> Immunization Status</button></a>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-8 col-md-6 col-12 mb-3 text-md-start text-center">
                    <h3>Preschoolers Immunization</h3>
                </div>
                <div class="col-xl-4  col-md-6 col-12">
                    <div class="d-flex justify-content-md-end justify-content-center align-items-stretch">
                    {% if loggedin == 'BHW' %}
                        <button style="background-color: #188045; color: white;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#update"><span class="fas fa-calendar-edit"></span> Immunization Update</button>
                    {% else %}
                        <div class="">
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        <hr>    
        </div>
    </div>
    <!--------------------- DataTables --------------------->
    <div class="text-black">
        <div class="row">
            <div class="col p-4">
                <div class="card-header">
                    <h3> Immunization Schedule</h3>
                </div>
                <div class="card shadow-lg p-3 bg-white rounded" >
                    <div class="table-responsive">
                        <table class="table table-hover table-cell-border" id="table_validation">
                            <div class="d-flex justify-content-between">
                            {% if preschooler.suffix_name is None %}
                                <div class="d-flex justify-content-start">
                                    <h5 style="font-size:20px; font-weight:bold;margin-right: 10px;">Preschooler Name:</h5>
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">{{ preschooler.first_name }} {{ preschooler.middle_name }} {{ preschooler.last_name }}</h5>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-start">
                                    <h5 style="font-size:20px; font-weight:bold; margin-right:10px;">Preschooler Name:</h5>
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">{{ preschooler.first_name }} {{ preschooler.middle_name }} {{ preschooler.last_name }} {{ preschooler.suffix_name }}</p>
                                </div>
                            {% endif %}
                            </div>
                            <div class="d-flex justify-content-start">
                                <h5 style="font-size:20px; font-weight:bold;margin-right: 10px;">Next Vaccine Date:</h5>
                                <h5 class="text-dark mb-0" style="font-size: 20px;">{{ next_vax }}</h5>
                            </div>
                            <div class="" >
                                <h5 style="font-size:20px; font-weight:bold; margin-right:10px; margin: 0;">Remaining Vaccine:</h5>
                                {% if 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list and 'Inactivated Polio Vaccine' in vax_list and 'Measles Mumps - Rubella' in vax_list and dose_list.7 == 2 %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;"> No remaining vaccines.</h5>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list and 'Inactivated Polio Vaccine' in vax_list and dose_list.6 == 2 %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Measles Mumps - Rubella </h5>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Inactivated Polio Vaccine and Measles Mumps - Rubella </p>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and dose_list.4 == 3 %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </p>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and dose_list.3 == 3 %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Measles Containing Vaccines, Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </h5>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and dose_list.2 == 3 %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Pentavalent Vaccine, Measles Containing Vaccines, Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </h5>
                                {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Oral Poliovirus Vaccine, Pentavalent Vaccine, Measles Containing Vaccines, Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </h5>
                                {% elif 'BCG' in vax_list %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">Hepatitis B, Oral Poliovirus Vaccine, Pentavalent Vaccine, Measles Containing Vaccines, Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </h5>
                                {% else %}
                                    <h5 class="text-dark mb-0" style="font-size: 20px;">BCG, Hepatitis B, Oral Poliovirus Vaccine, Pentavalent Vaccine, Measles Containing Vaccines, Tetanus Toxoid, Inactivated Polio Vaccine, and Measles Mumps - Rubella </p>
                                {% endif %}
                                
                            </div>
                            <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h5 class="modal-title fas fa-calendar-edit" id="exampleModalLabel"> Immunization Update</h5>
                                            
                                        </div>
                                        <div class="modal-body mx-4">
                                            <form method="POST">
                                                {% csrf_token %}
                                            <!-- <form method="POST" onsubmit="get_cred($('#type').val());"> -->
                                                <div class="md-form mb-2">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Vaccine: </label>
                                                    <select required class="form-select" name="vax_name" aria-label="Default select example" onchange="changeNum(this)">
                                                        {% if 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list and 'Inactivated Polio Vaccine' in vax_list and 'Measles Mumps - Rubella' in vax_list and dose_list.7 == 2 %}
                                                            <option disabled value="BCG">BCG</option>
                                                            <option disabled value="Hepatitis B">Hepatitis B</option>
                                                            <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option>
                                                            <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                            <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list and 'Inactivated Polio Vaccine' in vax_list and dose_list.6 == 2 %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <!-- <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option> -->
                                                            <!-- <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option> -->
                                                            <!-- <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option> -->
                                                            <!-- <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option> -->
                                                            <!-- <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and 'Tetanus Toxoid' in vax_list %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <!-- <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option> -->
                                                            <!-- <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option> -->
                                                            <!-- <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option> -->
                                                            <!-- <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and 'Measles Containing Vaccines' in vax_list and dose_list.4 == 3 %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <!-- <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option> -->
                                                            <!-- <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option> -->
                                                            <!-- <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and 'Pentavalent Vaccine' in vax_list and dose_list.3 == 3 %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <!-- <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option> -->
                                                            <!-- <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list and 'Oral Poliovirus Vaccine' in vax_list and dose_list.2 == 3 %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <!-- <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                            <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list and 'Hepatitis B' in vax_list %}
                                                            <!-- <option disabled value="BCG">BCG</option> -->
                                                            <!-- <option disabled value="Hepatitis B">Hepatitis B</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option>
                                                            <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                            <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% elif 'BCG' in vax_list %}
                                                            <!-- <option value="BCG">BCG</option> -->
                                                            <option selected value="---">---</option>
                                                            <option value="Hepatitis B">Hepatitis B</option>
                                                            <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option>
                                                            <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                            <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% else %}
                                                            <option selected value="---">---</option>
                                                            <option value="BCG">BCG</option>
                                                            <option disabled value="Hepatitis B">Hepatitis B</option>
                                                            <option disabled value="Oral Poliovirus Vaccine">Oral Poliovirus Vaccine</option>
                                                            <option disabled value="Pentavalent Vaccine">Pentavalent Vaccine</option>
                                                            <option disabled value="Measles Containing Vaccines">Measles Containing Vaccines</option>
                                                            <option disabled value="Tetanus Toxoid">Tetanus Toxoid</option>
                                                            <option disabled value="Inactivated Polio Vaccine">Inactivated Polio Vaccine</option>
                                                            <option disabled value="Measles Mumps - Rubella">Measles Mumps - Rubella</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="md-form">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Dose(s):</label>
                                                    <input required class="form-control" type="number" min="1" max="1" name="dose" id="dose">
                                                </div>
                                                <div class="md-form mb-2">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Required Doses:</label>
                                                    <label id="required_dose" for="">1</label>
                                                </div>
                                                <div class="md-form mb-2">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Immunization Date:</label>
                                                    <input required class="form-control" type="date" name="immune_date" id="immune_date">
                                                </div>
                                                <div class="md-form mb-2">
                                                    <label id="user-lbl" data-error="wrong" data-success="right">Next Vaccine Date:</label>
                                                    <input class="form-control" type="date" name="remarks" id="remarks">
                                                </div>
                                            
                                        </div>
                                        <div class="modal-footer d-flex justify-content-end">
                                            <button type="button" class="btn" style="background-color: #EF3A25; color: white; min-width: 10%;" data-bs-dismiss="modal" aria-label="Close"> Cancel</button>
                                            <button type="submit" class="btn " style="background-color: #188045; color: white;  min-width: 10%;">Add</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Vaccine</th>
                                    <th scope="col" class="text-center">Doses</th>
                                    <th scope="col" class="text-center">Required Doses</th>
                                    <th scope="col" class="text-center">Immunization Date</th>
                                    <th scope="col" class="text-center">Next Vaccine Date</th>
                                </tr>
                            </thead>
                            {% for vaccine in vaccines %}
                            <tbody>
                                <tr>
                                    {% if vaccine.vax_name == 'Oral Poliovirus Vaccine' or vaccine.vax_name == 'Pentavalent Vaccine' or vaccine.vax_name == 'Measles Containing Vaccines' %}
                                        <td class="text-center">{{ vaccine.vax_name }}</td>
                                        <td class="text-center">{{ vaccine.vax_dose }}</td>
                                        <td class="text-center">3</td>
                                        <td class="text-center">{{ vaccine.vax_date }}</td>
                                        <td class="text-center">{{ vaccine.vax_remarks }}</td>
                                    {% elif vaccine.vax_name == 'Inactivated Polio Vaccine' or vaccine.vax_name == 'Measles Mumps - Rubella' %}
                                        <td class="text-center">{{ vaccine.vax_name }}</td>
                                        <td class="text-center">{{ vaccine.vax_dose }}</td>
                                        <td class="text-center">2</td>
                                        <td class="text-center">{{ vaccine.vax_date }}</td>
                                        <td class="text-center">{{ vaccine.vax_remarks }}</td>
                                    {% else %}
                                        <td class="text-center">{{ vaccine.vax_name }}</td>
                                        <td class="text-center">{{ vaccine.vax_dose }}</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">{{ vaccine.vax_date }}</td>
                                        <td class="text-center">{{ vaccine.vax_remarks }}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(function(){
        var dtToday = new Date();
        
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        
        var maxDate = year + '-' + month + '-' + day;

        $('#immune_date').attr('min', maxDate);
        $('#remarks').attr('min', maxDate);
    });

    function changeNum (vax_name) {
        if (vax_name.value === "Oral Poliovirus Vaccine") {
            document.getElementById('dose').setAttribute('max', 3);
            document.getElementById("dose").value = "{{ dose_list.2 }}";
            document.getElementById("required_dose").innerHTML = 3;

        } else if (vax_name.value === "Pentavalent Vaccine") {
            document.getElementById('dose').setAttribute('max', 3);
            document.getElementById("dose").value = "{{ dose_list.3 }}";
            document.getElementById("required_dose").innerHTML = 3;

        } else if (vax_name.value === "Measles Containing Vaccines") {
            document.getElementById('dose').setAttribute('max', 3);
            document.getElementById("dose").value = "{{ dose_list.4 }}";
            document.getElementById("required_dose").innerHTML = 3;
            
        } else if (vax_name.value === "Inactivated Polio Vaccine" || vax_name.value === "Measles Mumps - Rubella") {
            document.getElementById('dose').setAttribute('max', 2);
            document.getElementById("dose").value = 1;
            document.getElementById("required_dose").innerHTML = 2;
        }
    };
</script>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script>
                Swal.fire({
                icon: 'warning',
                title: 'Invalid',
                text: '{{message}}',
                confirmButtonText: "Ok",
                confirmButtonColor: '#EF3A25',
            }).then(function() {
                window.location = "{% url 'immunization_schedule' preschooler.id %}";
            });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
