{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- table layout -->
    <link rel="stylesheet" href="{% static '/CSS/DataTables/datatables.min.css' %}">
    <script src="{% static '/Javascript/js/jquery.min.js' %}"></script>
    <script src="{% static '/Javascript/js/datatables.min.js' %}"></script>
    <script src="{% static '/Javascript/js/datatables.js' %}"></script>

    
    <link rel="icon" href="{% static '/Media/Dasmalogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/css/bootstrap.min.css' %}">

    <script src="{% static '/Javascript/js/Chart.min.js' %}" crossorigin="anonymous"></script>\

    <title>{{ unva_bhw.user.first_name }} {{ unva_bhw.user.last_name }}</title>
</head>
        <!-- Header -->
    <div class="site-header" id="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark index__navbar scrolled border-bottom" id="header">
            <div class="container-fluid justify-content-between px-4 mx-4" >
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" style="margin-left:15px;" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="hidetitle" class="brand__name" style="color:#2c5f2dff;">City of Dasmariñas</span>
                    </a>
                </div>
                <div class="btn-group my-2 mx-3">
                    <li>
                        <a class="btn nav-link" id="parentButton" data-bs-toggle="dropdown" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                        title="User" aria-expanded="false">
                            <i class="fa fa-fw fa-user-cog bi" style="font-size: 24px;"></i>
                            <span class="position-absolute top-100 start-75 translate-middle badge rounded-pill text-dark" style="border-radius: 50%;">
                                <i class="fa fa-lg fa-fw fa-caret-down bg-light" style="border-radius: 25%; margin-bottom: 15px;"></i>
                            </span></a>
                            
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-2" style="margin-right:3%;" aria-labelledby="parentButton">
                            
                            <div>
                                <i class="fa fa-lg fa-fw fa-user bi" style="margin-left:5px;"></i>   
                                <span style="font-size: 15px;"> {{ user.first_name }} {{ user.last_name }} </span>
                            </div>
                            <div>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" style="background-color: rgba(255, 255, 255, 0); padding: 2px !important; margin-left:7px;" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt mx-1"></i>Sign out</a></li>
                            </div>
                        
                        </ul>                    
                    </li>
                </div>
            </div>
        </nav>
    </div>


<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip({'delay': { show: 400, hide: 100 }})})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
 </script>

<body>
    <div id="grid" class="container-fluid" style="padding:7%; margin-top:50px;">
        <div class="container-grid">
            <div class="">
                <div class="row"> 
                    <div class="col">
                        <h3 style="text-align:left;">Preschooler List</h3>
                    </div>
                </div>
            <hr>
            <br>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <h4 style="Padding: 10px 40px 0px 0px;">My Preschoolers</h4>
            <button style="margin-bottom: 15px; background-color: #188045;border-color:#188045;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSched"><span class="fa fa-calendar-alt"></span> Enroll Preschooler</button>
            <div class="modal fade" id="addSched" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" >
                            <h5 class="modal-title fa fa-user-edit" id="exampleModalLabel">Enroll Preschooler</h5>
                        </div>
                        <div class="modal-body mx-4">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">First Name: </label>
                                    <input class="form-control" type="text" name="first_name" id="first_name">
                                </div>
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">Middle name:</label>
                                    <input class="form-control" type="text" name="middle_name" id="middle_name">
                                </div>
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">Last name:</label>
                                    <input class="form-control" type="text" name="last_name" id="last_name">
                                </div>
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">Suffix:</label>
                                    <input class="form-control" type="text" placeholder="If Applicable" name="suffix_name" id="suffix_name">
                                </div>
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">Birthdate:</label>
                                    <input class="form-control" type="date" name="birthday" id="birthday">
                                </div>
                                <div class="md-form">
                                    <label id="user-lbl" data-error="wrong" data-success="right">Gender:</label>
                                    <select name="gender" class="form-select" aria-label="Default select example">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="modal-footer" style="justify-content:center">
                                    <button type="submit" class="btn btn-primary" style="background-color: #188045;border-color: #188045;">Enroll</button>
                                    <button type="button" data-bs-dismiss="modal" style="background-color: red; color: white;" class="btn">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .hoverable {
                transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
                cursor: pointer;
            }
            .hoverable:hover{
                transform: scale(1.02);
                box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
            }
        </style>
        {% for chunk in chunks %}
            <div class="row">
                {% for item in chunk %}
                    <div class="col-md-{{ numberOfColumns }} mb-3">
                        <a class="card hoverable text-decoration-none text-primary" href="{% url 'parent_preschooler' item.id %}">
                            <div class="card-body">
                                <div class="text-center">
                                    <!--- uploads/avatar_{{ item.id }} ----->
                                    <img src="https://png.pngtree.com/png-vector/20190114/ourlarge/pngtree-vector-avatar-icon-png-image_313572.jpg" height="40px" width="40px">
                                </div>
                                <div>
                                    <div class="text-center">{{ item.first_name }} {{ item.middle_name }} {{ item.last_name }} {{ preschooler.suffix_name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    <!--
    <div class="container text-black">
            <div class="row">
                <div class="col">
                    <div class="card shadow-lg bg-white rounded h-100">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body p-4">
                        
                        <div class="table-responsive">
                            <table class="table table-hover table-cell-border" id="preschoolers_table">
                                
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Middle Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Suffix</th>
                                        <th scope="col">Age (Years)</th>
                                        <th scope="col">Age (Months)</th>
                                        <th scope="col">Birthdate</th>
                                        <th scope="col" class="nosort text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for preschooler in preschoolers %}
                                    <tr>
                                        <td></td>
                                        <td>{{ preschooler.first_name }}</td>
                                        <td>{{ preschooler.middle_name }}</td>
                                        <td>{{ preschooler.last_name }}</td>
                                        {% if preschooler.suffix_name is None %}
                                            <td>N/A</td>
                                        {% elif preschooler.suffix_name == '' %}
                                            <td>N/A</td>
                                        {% else %}
                                            <td>{{ preschooler.suffix_name }}</td>
                                        {% endif %}
                                        <td>{{ preschooler.age_years }}</td>
                                        <td>{{ preschooler.age_months }}</td>
                                        <td>{{ preschooler.birthday }}</td>
                                        <td style="text-align: center;">
                                            <div>
                                                <a href="{% url 'parent_preschooler' preschooler.id %}"><button type="button" style="background-color: #188045; color: white;" class="btn">View Profile</button></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    --->
    <!-- Footer -->
    <div class="footer text-muted">
        <div class="container">
            <div class="row text-center align-items-center">
                    <div class="border-top p-4">
                        <p class="copyright"><small>
                        Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>
                        </small>
                        </p>
                    </div>
            </div>
        </div>
      </div>
</body>

<script src="{% static '/Javascript/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        
    <script>
        var t = $('#preschoolers_table').DataTable({
            info: 'true',
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort'],
                'orderable': false,
                'targets': [0,8],
            }],
            order: [[1, 'asc']],
            });
            t.on('order.dt search.dt', function () {
            let i = 1;
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });}).draw();
    </script>

