{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- table layout -->
    <link rel="stylesheet" href="{% static '/CSS/DataTables/datatables.min.css' %}">
    <script src="{% static '/Javascript/js/jquery.min.js' %}"></script>
    <script src="{% static '/Javascript/js/datatables.min.js' %}"></script>
    <script src="{% static '/Javascript/js/datatables.js' %}"></script>

    
    <link rel="icon" href="{% static '/Media/Dasmalogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/css/bootstrap.min.css' %}">

    <script src="{% static '/Javascript/js/Chart.min.js' %}" crossorigin="anonymous"></script>\

    <title>{{ unva_bhw.user.first_name }} {{ unva_bhw.user.last_name }}</title>

        <!-- Header -->
    <div class="site-header" id="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark index__navbar scrolled border-bottom" id="header">
            <div class="container-fluid justify-content-between px-4 mx-4" >
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img class="navbar-icon" style="margin-left:15px;" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span class="brand__name" style="color:#2c5f2dff;">City of Dasmariñas</span>
                    </a>
                </div>
                <div class="btn-group my-2 mx-3">
                    <button class="button p-2" id="parentHomeButton" data-bs-toggle="dropdown" data-toggle="tooltip" data-placement="bottom"
                    title="Settings" aria-expanded="false">
                        <i class="fa fa-2x fa-fw d-block fa-user-cog bi mx-auto"></i>                 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="parentHomeButton">
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt mx-1"></i>Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</head>

<body>
    <div id="grid" class="container-fluid" style="padding:7%; margin: top 65px;">
        <div class="container-grid">
            <div class="">
                <div class="row"> 
                    <div class="col">
                        <h3 style="text-align:left;">Preschooler List</h3>
                    </div>
                </div>
            <hr>
            <br>
            </div>
        </div>
    <!-- DataTables -->
    <div class="container text-black">
        <div class="row">
            <div class="col">
                <div class="text-left" >
                    <button style="margin-bottom: 15px; margin-right: 10px; background-color: #188045;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSched"><span class="fa fa-calendar-alt"></span> Enroll Preschooler</button>
                </div>
                <div class="modal fade" id="addSched" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <h5 class="modal-title fa fa-user-edit" id="exampleModalLabel">Enroll Preschooler</h5>
                            </div>
                            <div class="modal-body mx-4">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="md-form">
                                        <label id="user-lbl" data-error="wrong" data-success="right">First Name: </label>
                                        <input class="form-control" type="text" name="first_name" id="first_name">
                                    </div>
                                    <div class="md-form">
                                        <label id="user-lbl" data-error="wrong" data-success="right">Middle name:</label>
                                        <input class="form-control" type="text" name="middle_name" id="middle_name">
                                    </div>
                                    <div class="md-form">
                                        <label id="user-lbl" data-error="wrong" data-success="right">Last name:</label>
                                        <input class="form-control" type="text" name="last_name" id="last_name">
                                    </div>
                                    <div class="md-form">
                                        <label id="user-lbl" data-error="wrong" data-success="right">Suffix:</label>
                                        <input class="form-control" type="text" name="suffix_name" id="suffix_name">
                                    </div>
                                    <div class="md-form">
                                        <label id="user-lbl" data-error="wrong" data-success="right">Birthdate:</label>
                                        <input class="form-control" type="date" name="birthday" id="birthday">
                                    </div>
                                    <div class="modal-footer" style="justify-content:center">
                                        <button type="submit" class="btn btn-primary" style="background-color: #188045;">Enroll</button>
                                        <button type="button" data-bs-dismiss="modal" style="background-color: red; color: white;" class="btn">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-cell-border" id="preschoolers_table">
                        
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Middle Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Suffix</th>
                                <th scope="col">Age (Years)</th>
                                <th scope="col">Age (Months)</th>
                                <th scope="col">Birthdate</th>
                                <th scope="col" class="nosort text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for preschooler in preschoolers %}
                            <tr>
                                <td></td>
                                <td>{{ preschooler.first_name }}</td>
                                <td>{{ preschooler.middle_name }}</td>
                                <td>{{ preschooler.last_name }}</td>
                                <td>{{ preschooler.suffix_name }}</td>
                                <td>{{ preschooler.age_years }}</td>
                                <td>{{ preschooler.age_months }}</td>
                                <td>{{ preschooler.birthday }}</td>
                                <td style="text-align: center;">
                                    <div>
                                        <a href=""><button type="button" style="background-color: #188045; color: white;" class="btn">View Profile</button></a>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
        <hr>
        <br>
    <!-- Footer -->
    <div class="site-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="footer-heading mb-4">About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Modi cumque tenetur inventore veniam, hic vel ipsa necessitatibus 
                        ducimus architecto fugiat!
                    </p>
                    <div class="my-5">
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="footer-heading mb-4">Helpful Link</h2>
                            <ul class="list-unstyled">
                            <li><a href="#">Healthcare Professional</a></li>
                            <li><a href="#">LGU Facilities</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="footer-heading mb-4">Resources</h2>
                            <ul class="list-unstyled">
                            <li><a href="#">NNC Website</a></li>
                            <li><a href="#">DOH Website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p class="copyright"><small>
                        Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>
                        </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static '/Javascript/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        
    <script>
        var t = $('#preschoolers_table').DataTable({
            info: 'true',
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort'],
                'orderable': false,
                'targets': [0,8],
            }],
            order: [[1, 'asc']],
            });
            t.on('order.dt search.dt', function () {
            let i = 1;
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });}).draw();
    </script>

